[submodule "node_redis"]
	path = node_redis
	url = https://github.com/mranney/node_redis.git
[submodule "node_modules/redis"]
	path = node_modules/redis
	url = https://github.com/mranney/node_redis.git
