* {
	margin: 0;
	padding: 0
}

.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0
}

.clearfix {
	display: block
}

* html .clearfix {
	height: 1%
}

*:first-child+html .clearfix {
	zoom: 1
}

body {
	font-family: arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.2
}

a {
	color: #39f;
	font-weight: bold;
	text-decoration: none
}

a:hover {
	text-decoration: underline
}

li {
	list-style-type: none
}

h1 {
	font-size: 22px
}

table {
	border-collapse: collapse;
	text-align: left;
	width: 100%
}

table th {
	padding: 10px 8px
}

table td {
	border-bottom: 1px dotted #ccc;
	padding: 6px 8px
}

.L {
	float: left
}

.R {
	float: right
}

.header,.main,.footer {
	padding: 0 24px;
	margin: 0 auto;
	width: 936px
}

.headerbg {
	width: 100%
}

.footerbg {
	width: 100%
}

.footer {
	min-height: 200px
}

.mainbg {
	background: #fff;
	width: 100%
}

.main {
	min-height: 600px;
	padding: 24px 24px
}

.col {
	margin: 0 8px
}

.col1 .col {
	width: 920px
}

.col2 .col {
	float: left;
	width: 452px
}

.col3 .col {
	float: left;
	width: 296px
}

.col4 .col {
	float: left;
	width: 218px
}

.col5 .col {
	float: left;
	width: 171px
}

.col6 .col {
	float: left;
	width: 140px
}

.col7 .col {
	float: left;
	width: 117px
}

.col8 .col {
	float: left;
	width: 101px
}

form ol {
	margin: 0 0 15px
}

form li {
	margin: 0 0 15px
}

form li label {
	display: block !important;
	padding: 0 0 4px 3px !important
}

form input {
	font-size: 14px;
	font-family: arial, helvetica, sans-serif
}

form input[type=text],form input[type=password] {
	padding: 3px;
	width: 240px
}

form .disclaimer {
	padding: 0 0 15px !important
}

form input.short {
	width: 100px
}

form .short input {
	width: 100px
}

.error label {
	font-weight: bold
}

.error input {
	border: 2px solid #f00 !important
}

.error-text {
	color: #f00;
	font-size: 10px;
	font-weight: bold;
	margin: 4px 0 0 5px
}

.mint-facebook-connect-holder {
	margin: 0 0 15px !important
}

.nav-top {
	width: auto;
	position: relative
}

.login-fly {
	font-size: 10px;
	position: absolute;
	top: 0;
	right: 0
}

.modal {
	background: #fff;
	border-radius: 10px;
	-moz-border-radius: 10px;
	width: 656px
}

.modal h1 {
	padding: 16px 24px 10px
}

.modal h1 span {
	float: right
}

.modal-body {
	padding: 0 24px 24px
}

.modal-desc {
	padding: 0 0 16px
}

.modal-3col .col {
	float: left;
	width: 186px
}

.order-entry {
	border: 1px solid #ccc;
	padding: 15px 0 0 15px
}

.order-entry li {
	float: left;
	margin: 0 10px 15px 0 !important;
	height: 310px;
	width: 214px
}

.order-entry h3 {
	background: #eee;
	font-size: 10px;
	font-size: bold !important;
	padding: 4px 0;
	text-align: center
}

.order-information h2 {
	font-size: 14px;
	margin: 0 0 15px
}

.order-information dl {
	font-size: 12px
}

.order-information dt {
	float: left;
	font-weight: bold;
	margin: 0 6px 3px 0
}

.order-information dd {
	margin: 0 0 6px
}

.order-data-address {
	clear: left
}

.checkout-credit-coupon-input-holder button {
	background: #999 !important;
	border: none;
	color: #fff !important;
	cursor: pointer;
	font-size: 12px !important;
	font-family: "Lucida Grande", "Lucida Sans",
		"Lucida Sans Unicode" !important;
	font-style: normal !important;
	font-weight: bold !important;
	padding: 4px 5px 6px !important;
	margin: 0 0 0 5px;
	position: relative;
	bottom: 2px;
	text-transform: none
}

.checkout-credit-coupon-input-holder button:hover {
	background-image: none !important
}

.checkout-credit-coupon-input-holder div.checkout-credit-coupon-last {
	width: 16px;
	height: 28px;
	margin-left: 10px
}

.checkout-credit-coupon-input-holder div.mint-valid {
	background: url(/assets/images/icon_ok.gif) no-repeat center center
}

.checkout-credit-coupon-input-holder div.mint-error {
	width: auto;
	padding-left: 22px;
	line-height: 26px;
	color: #d00;
	background: url(/assets/images/icon_error.gif) no-repeat center left
}

.dynamic-offer-markup {
	margin-bottom: 10px;
	margin-top: 10px
}

.groupon-container {
	background: #eee
}

.groupon-intake {
	background: #fff;
	border: 1px solid #ccc;
	margin: 40px auto 60px;
	padding: 110px 30px 30px;
	width: 540px
}

#chat-modal {
	background: #fffde1;
	border: 3px solid #ccc;
	position: fixed;
	bottom: 20px;
	height: 80px;
	padding: 10px 15px;
	right: 20px;
	z-index: 10;
	width: 200px
}

#chat-modal h4 {
	font-size: 12px;
	margin: 0 0 5px
}

#chat-modal .chat-now {
	font-size: 16px;
	display: block;
	margin: 0 0 5px
}

#chat-modal .close {
	display: block
}

.facebook-only {
	text-align: center;
	padding: 45px;
	font-size: 14px
}

.mint-account-modal h2 {
	font-size: 15px;
	margin-bottom: 8px
}

.sister-sites {
	border-bottom: 1px solid #ccc;
	color: #31ad00;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 14px;
	padding-bottom: 14px
}

.mint-account-modal button span {
	color: #fff
}